@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,900");
.hidden {
  display: none; }

.big {
  text-transform: uppercase; }

.sectionHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 135px;
  font: 40px "Roboto";
  color: #979797;
  width: auto;
  margin-bottom: 35px;
  border: none !important; }

#mainHeader {
  width: 100%;
  height: 250px;
  background: url("../images/steve.png") no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 1600px 0, 1600px 40%, 0 100%); }
  #mainHeader #logo {
    padding: 45px;
    width: 125px !important; }

#opening-invite {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  text-align: center;
  margin: 90px 0 100px 0;
  max-height: 3500px;
  overflow: hidden; }
  #opening-invite h1 {
    color: #979797;
    font-size: 20px;
    padding-bottom: 10px; }
  #opening-invite h2 {
    align-self: center;
    color: #1d2f48;
    font-size: 48px;
    font-weight: 700;
    max-width: 312px;
    padding-bottom: 10px; }
  #opening-invite a {
    align-self: center;
    text-decoration: none;
    background: #1d2f48;
    color: #fff;
    padding: 20px 45px;
    margin: 20px 0;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4); }
    #opening-invite a:hover {
      background-color: #668ca7; }
    #opening-invite a:active {
      background-color: #315272;
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4); }

#slogan-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("../images/people_working.png");
  background-size: cover;
  height: 500px;
  color: #F6E930;
  margin-bottom: 45px;
  position: relative; }
  #slogan-banner .slogan-banner__header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #slogan-banner h2 {
    margin-top: 50px;
    font: 20px "Roboto";
    font-weight: 400;
    margin-bottom: 10px; }
  #slogan-banner h3 {
    font: 34px "Roboto" !important;
    font-weight: 700 !important; }

#services {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px; }
  #services .service-item {
    align-self: center;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px; }
  #services .service-item-icon {
    width: 130px;
    padding-right: 25px; }
  #services .service-item-text {
    padding-top: 25px;
    line-height: 26px; }
    #services .service-item-text .service-item-header {
      font: 24px "Roboto";
      color: #315272;
      font-weight: 700; }
    #services .service-item-text .service-item-desc {
      font: 16px "Roboto";
      color: #979797; }

#ux-quote {
  display: flex;
  height: 300px;
  width: 100%;
  background: url("../images/people-talking.png");
  background-size: cover;
  color: #F6E930;
  font-weight: 700;
  margin-bottom: 45px; }
  #ux-quote #ux-quote-text {
    align-self: center;
    max-width: 288px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }
    #ux-quote #ux-quote-text #ux-quote-small {
      font: 24px "Roboto";
      line-height: 32px;
      max-width: 165px;
      text-align: right; }
    #ux-quote #ux-quote-text #ux-quote-large {
      font: 72px "Roboto";
      max-width: 110px;
      line-height: 64px;
      padding-left: 15px; }

#testimonials {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
  #testimonials .testimonials-item {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    padding-bottom: 60px; }
    #testimonials .testimonials-item .testimonials-item-icon {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      background: url("../images/haydn.jpg");
      background-size: cover;
      border: 1px solid #979797; }
    #testimonials .testimonials-item .testimonials-item-text {
      padding-right: 55px;
      max-width: 250px;
      float: left; }
      #testimonials .testimonials-item .testimonials-item-text .testimonials-item-title {
        font: 20px "Roboto";
        color: #315272;
        text-align: right; }
      #testimonials .testimonials-item .testimonials-item-text .testimonials-item-quote {
        font: 20px "Roboto";
        font-weight: 300;
        font-style: italic;
        color: #979797;
        text-align: right; }

#about-us-cont {
  width: 80%;
  font-family: "Roboto";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  #about-us-cont .about-us-item {
    display: flex;
    align-items: center;
    flex-direction: column; }
  #about-us-cont .about-us-icon {
    border-radius: 50% 50%;
    border: 1px solid #979797;
    height: 184px;
    width: 184px;
    margin: 25px;
    background-size: cover !important; }
  #about-us-cont #icon-1 {
    background: url(../images/me.jpg); }
  #about-us-cont #icon-2 {
    background: url(../images/haydn.jpg); }
  #about-us-cont .about-us-name {
    font-size: 36px;
    color: #1d2f48;
    font-weight: 700;
    padding-bottom: 26px; }
  #about-us-cont .about-us-text {
    font-size: 1em;
    line-height: 1.5em;
    color: #979797;
    padding-bottom: 26px; }
  #about-us-cont .second {
    opacity: 0;
    animation: showText 500ms  ease-in-out forwards; }

@keyframes showText {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #about-us-cont .show-more-btn {
    text-decoration: none;
    color: #1d2f48;
    opacity: .5; }
    #about-us-cont .show-more-btn:hover {
      opacity: 1; }
    #about-us-cont .show-more-btn .arrow {
      fill: #1d2f48; }

#contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #315272;
  width: 100%;
  height: 1372px;
  clip-path: polygon(-1500px 60%, 1500px 0, 1500px 60%, 0 100%); }
  #contact-us #contact-header {
    max-width: 450px;
    font: 34px "Roboto";
    color: #F6E930;
    text-align: center;
    padding-bottom: 26px; }
    #contact-us #contact-header span {
      font-size: 52px; }
  #contact-us form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #contact-us input, #contact-us textarea {
    border: 4px solid #668ca7;
    padding: 10px;
    font: 36px "Roboto";
    color: #979797;
    background: #fff;
    border-radius: 10px;
    min-width: 422px;
    width: 30%;
    margin-bottom: 26px; }
  #contact-us .btn {
    cursor: pointer;
    border: 2px solid yellow;
    color: #F6E930;
    background: transparent;
    font: 24px "Roboto";
    padding: 10px 20px;
    border-radius: 10px; }

.contact-us__contact-section {
  position: relative;
  top: 325px; }

#contact-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #contact-info h2 {
    font: 60px "Roboto";
    color: #1d2f48;
    text-align: center; }
  #contact-info #contact-info-items {
    font: 24px "Roboto";
    opacity: .5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #contact-info #contact-info-items p {
      padding: 26px;
      margin: -20px 20px;
      max-width: 276px;
      line-height: 1.5em; }

#closing-shape {
  height: 500px;
  clip-path: polygon(0 76%, 1600px 0, 1600px 100%, 0 100%);
  background: #F6E930;
  z-index: -1; }

#container {
  max-width: 566px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }

.sectionHeader {
  width: 135px;
  align-self: center !important;
  font: 20px "Roboto";
  color: #979797;
  width: auto;
  border-bottom: 1px solid #979797;
  border: 1px solid red; }
