
#opening-invite {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-family: $roboto;
    text-align: center;
    margin: 90px 0 100px 0;
	max-height: 3500px;
	overflow: hidden;
    h1 {    
        color: $grey;
        font-size: 20px;
        padding-bottom: 10px;
    }
    h2 {
        align-self: center;
        color: $very-dark-blue;
        font-size: 48px;
        font-weight: 700;
        max-width: 312px;
        padding-bottom: 10px;
    }
    a {
        align-self: center; 
        text-decoration: none;
        background: $very-dark-blue;
        color: #fff;
        padding: 20px 45px;
        margin: 20px 0;
        border-radius: 10px;
        width: 100px;    
        box-shadow: 0 5px 12px rgba(#000, .4);

        &:hover {
            background-color: $blue;
        }

        &:active {
            background-color: $dark-blue;
            box-shadow: 0 5px 6px rgba(#000, .4); 
        }
    }
}

#slogan-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url('../images/people_working.png');
    background-size: cover;
    height: 500px;
    color: $yellow;
    margin-bottom: 45px;
    position: relative;

    .slogan-banner__header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2{
        margin-top: 50px;
        font: 20px $roboto;
        font-weight: 400;
        margin-bottom: 10px;
    }
    h3{
        font: 34px $roboto !important;
        font-weight: 700 !important;
    }
} 


#services {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    .service-item {
        align-self: center;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 65px;
    }
    .service-item-icon {
        width: 130px;
        padding-right: 25px;
    }
    .service-item-text {
        padding-top: 25px;
        line-height: 26px;
        .service-item-header {
            font: 24px $roboto;
            color: $dark-blue;
            font-weight: 700;
        }
        .service-item-desc {
            font: 16px $roboto;
            color: $grey;
            
        }
    }
}

#ux-quote {
    display: flex;
  	height: 300px;
	width: 100%;
    background: url('../images/people-talking.png');
    background-size: cover;
    color: $yellow;
    font-weight: 700;
    margin-bottom: 45px;
    #ux-quote-text {
        align-self: center;     
        max-width: 288px;
        display: flex;
        justify-content: space-between;  
        margin: 0 auto;
        #ux-quote-small {
            font: 24px $roboto;
            line-height: 32px;
            max-width: 165px;
            text-align: right;
        }
        #ux-quote-large {
            font: 72px $roboto;
            max-width: 110px;
            line-height: 64px;
            padding-left: 15px;
        }
    }
}

#testimonials {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    .testimonials-item {
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        padding-bottom: 60px;

        .testimonials-item-icon {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: url('../images/haydn.jpg');
            background-size: cover;
            border: 1px solid $grey;
        }
        .testimonials-item-text{
            padding-right: 55px;
            max-width: 250px;
            float: left;
            .testimonials-item-title {
                font: 20px $roboto;
                color: $dark-blue;
                text-align: right;
            }
            .testimonials-item-quote {
                font: 20px $roboto;
                font-weight: 300;
                font-style: italic;
                color: $grey;
                text-align: right;
            }        
        }

    }
}

#about-us-cont {
	width: 80%;
	font-family: $roboto;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
    
	.about-us-item {
		display: flex;
		align-items: center;
		flex-direction: column;	
	}
	.about-us-icon {
		border-radius: 50% 50%;
		border: 1px solid $grey;
		height: 184px;
		width: 184px;
		margin: 25px;
		// background-position: center;
		background-size: cover !important; 
	}

	#icon-1 { background: url(../images/me.jpg);}
	#icon-2 { background: url(../images/haydn.jpg); }
	.about-us-name {
		font-size:  36px;
		color: $very-dark-blue;
		font-weight: 700;
		padding-bottom: 26px;
	}
	.about-us-text {
		font-size: 1em;
		line-height:  1.5em;
		color: $grey;
		padding-bottom: 26px;	
	}
	.second {
		opacity: 0;
		animation: showText 500ms  ease-in-out forwards;
	}
	@keyframes showText {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	.show-more-btn {
		text-decoration: none;
		color: $very-dark-blue;
		opacity: .5;
		&:hover {
			opacity: 1;
		}
		.arrow{
			fill: $very-dark-blue;
		}
	}
}

#contact-us {
    position: relative;
	display: flex;
	flex-direction: column;
    align-items: center;
    background: $dark-blue;
    width: 100%;
    height: 1372px;
    clip-path: polygon(-1500px 60%, 1500px 0, 1500px 60%, 0 100%);

	#contact-header {
		max-width: 450px;
		font: 34px $roboto;
		color: $yellow;
		text-align: center;
		padding-bottom: 26px;
		span {
			font-size: 52px;
		}
    }
    
	form {display: flex; flex-direction: column; align-items: center}
	input, textarea {
		border:  4px solid $blue;
		padding:10px;
		font: 36px $roboto;
		color: $grey;
		background: #fff;
		border-radius: 10px;
		min-width: 422px;
		width: 30%;
		margin-bottom: 26px;
	}
	.btn {
		cursor: pointer;
		border: 2px solid yellow;
		color: $yellow;
		background: transparent;
		font: 24px $roboto;
		padding: 10px 20px;
		border-radius: 10px;
	}
}

.contact-us__contact-section {
    position: relative;
    top: 325px;
}

#contact-info {
	position: relative;
	display: flex;
	align-items: center;
    flex-direction: column;
    
	h2 {
		font: 60px $roboto;
		color: $very-dark-blue;
		text-align: center;
	}
	#contact-info-items {
		font: 24px $roboto;
		opacity: .5;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		p {
			padding: 26px;
			margin: -20px 20px;
			max-width: 276px;
			line-height: 1.5em;
		}
	}
}

#closing-shape {
	height: 500px;
	clip-path: polygon(0 76%, 1600px 0, 1600px 100%, 0 100%);
	background: $yellow;
	// position: relative;
    // bottom: 950px;
    z-index:-1;
}













