@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,900');

// COLORS
$very-dark-blue : #1d2f48;
$dark-blue : #315272;
$blue: #668ca7;
$light-blue: #a2bfdc;
$very-light-blue: #d4e7f4;
$yellow: #F6E930;
$grey: #979797;
// TYPEOGRAPHY 
$roboto : "Roboto";

// SIZES
$xs : 12/16;
$sm : 16/16;
$md : 24/16;
$lg : 36/16;
$xl : 48/16;